.bingo-card-wrapper {
  display: inline-block;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bingo-card {
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border: 3px solid #333;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.bingo-grid {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(3 , 1fr);
  height: 100%;
}

.bingo-cell {
  flex: 1;
  display: flex;
  border: 2px solid #666;
  align-items: center;
  justify-content: center;
}

.bingo-card.no-borders .bingo-cell {
  border: none;
}

.bingo-card.no-borders {
  border: none;
}

.bingo-cell:not(:last-child) {
  border-right: none;
}

.bingo-row:not(:last-child) .bingo-cell {
  border-bottom: none;
}

.cell-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
